body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.nav-with-banner {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  padding: 22px 135px;
  background: linear-gradient(312deg, #d4e7fe -15.24%, #fff 78.85%);
  height: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid red;
  margin-bottom: 93px;
}

.navbar > .nav-links {
  display: flex;
  align-items: center;
  gap: 72px;
  border: 1px solid blue;
}

.navbar > .nav-links > ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
  gap: 32px;
  align-items: center;
  border: 1px solid orange;
}

li {
  cursor: pointer;
}

.navbar > .action-links {
  display: flex;
  align-items: center;
}

.navbar > .action-links > .btn {
  width: 123px;
  height: 50px;
  cursor: pointer;
  border-radius: 14px;
  background: #217bf4;
  box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  font-family: inherit;
  outline-style: none;
  border: 1px solid #217bf4;
  box-sizing: border-box;
  line-height: 14px; /* 116.667% */
}

.banner-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid orange;
}

.banner-text-section {
  display: flex;
  flex-direction: column;
  border: 1px solid pink;
  gap: 32px;
}

.banner-breadcrum {
  width: 177px;
  height: 36px;
  border-radius: 8px;
  background: rgba(33, 123, 244, 0.1);
  color: #217bf4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
}

.banner-main-text {
  color: #0a093d;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  width: 515px;
  border: 1px solid red;
  line-height: 66px;
}

.banner-sub-text {
  color: #656464;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 42px;
}

.banner-btns-wrap {
  display: flex;
  align-items: center;
  gap: 18px;
}

.banner-btn-1,
.banner-btn-2 {
  width: 162px;
  border-radius: 14px;
  height: 62px;
  font-size: 14px;
  line-height: 14px;
  outline-style: none;
  border: 1px solid #217bf4;
  text-align: center;
  cursor: pointer;
}

.banner-btn-1 {
  background: #217bf4;
  color: #fff;
  font-weight: 400;
  background: #217bf4;
  box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
}

.banner-btn-2 {
  color: #217bf4;
  background: linear-gradient(312deg, #d4e7fe -15.24%, #fff 78.85%);
  font-weight: 500;
}

.banner-illustration {
  margin-bottom: 83px;
  border: 1px solid red;
}

.sub-banner {
  padding: 87px 134px;
  border: 1px solid purple;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-banner-text-section {
  border: 1px solid orange;
  display: flex;
  width: 406px;
  flex-direction: column;
}

.sub-banner-small-heading {
  color: #217bf4;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 10px;
}

.sub-banner-main-text {
  color: #0a093d;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 16px;
}

.sub-banner-description {
  margin-bottom: 36px;
}

.sub-banner-list {
  list-style-type: none;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-image: url("https://iili.io/JBoOcjR.png");
}

.sub-banner-list > li {
  color: #171648;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  cursor: default;
  border: 1px solid pink;
}

.sub-banner-illustration-section {
  display: flex;
  align-items: center;
  gap: 25px;
  border: 1px solid pink;
}
.sub-banner-image-wrap {
  display: flex;
  align-items: center;
  gap: 19px;
  flex-direction: column;
}

.testimonial {
  padding: 69px 135px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(312deg, #d4e7fe -15.24%, #fff 78.85%);
}

.testimonial > .small-title {
  color: #217bf4;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 10px;
}

.testimonial > .main-title {
  color: #0a093d;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 18px;
}

.testimonial > .description {
  color: #656464;
  text-align: center;
  font-size: 16px;
  width: 454px;
  font-weight: 400;
  margin-bottom: 38px;
  line-height: 28px;
}

.tab-section {
  width: auto;
  height: 72px;
  flex-shrink: 0;
  border-radius: 14px;
  background: rgba(33, 123, 244, 0.06);
  padding: 8px;
  display: flex;
  margin-bottom: 44px;
  align-items: center;
}

.tab-section > .tab-item {
  border-radius: 14px;
  cursor: pointer;
  width: 150px;
  height: 56px;
  color: #2f2c4a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.16px;
}

.tab-section > .tab-item.active {
  background: #217bf4;
  color: #fff;
}

.testimony-wrap {
  border: 1px solid red;
  display: flex;
  flex: 1 1 0;
  gap: 30px;
}

.testimony-wrap > .item {
  width: 270px;
  border: 2px solid blue;
  height: 316px;
  border-radius: 14px;
  border: 2px solid rgba(243, 243, 243, 0.5);
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 14px;
  padding: 30px 52px 34px 52px;
  box-sizing: border-box;
}

.testimony-wrap > .item > .name {
  color: #2f2c4a;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
}
.testimony-wrap > .item > .handle {
  color: #656464;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.latest-news {
  padding: 82px 128px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff;
}

.latest-news > .small-title {
  color: #217bf4;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 10px;
}

.latest-news > .main-title {
  color: #0a093d;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 74px;
}

.latest-news-image-wrap {
  border: 1px solid blue;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.latest-news-image-wrap > .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.latest-news-image-wrap > .item > img {
  margin-bottom: 12px;
}

.latest-news-image-wrap > .item > .text-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-bottom: 24px;
}

.latest-news-image-wrap > .item > .text-container > .text {
  border: 1px solid red;
  color: #2f2c4a;
  width: 252px;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.latest-news-image-wrap > .item > .text-container > .text > .continue-reading {
  display: flex;
  align-items: center;
}

.latest-news-image-wrap
  > .item
  > .text-container
  > .text
  > .continue-reading
  > .continue-reading-text {
  border: 1px solid orange;
  display: flex;
  gap: 8px;
  color: #217bf4;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  cursor: pointer;
}

.latest-news-image-wrap
  > .item
  > .text-container
  > .text
  > .continue-reading
  > .continue-reading-text
  > img {
  width: 10px;
  height: 10px;
  margin: auto;
}

.latest-news-image-wrap > .item > .text-container > .illustration {
  width: 39px;
  height: 2px;
  background: #ffaf2e;
}

/*_____________________________________mobile view___________________________________*/

@media (max-width: 1024px) {
  .navbar {
    margin-bottom: 40px;
  }

  .nav-with-banner {
    padding: 20px;
  }

  .navbar > .nav-links > ul {
    display: none;
  }

  .banner-section {
    flex-direction: column;
  }

  .banner-main-text {
    font-size: 30px;
    max-width: 90%;
    line-height: 33px;
  }

  .banner-btns-wrap {
    flex-direction: column;
  }

  .banner-btn-1,
  .banner-btn-2 {
    width: 120px;
    border-radius: 14px;
    height: 40px;
    font-size: 14px;
    line-height: 14px;
    outline-style: none;
    border: 1px solid #217bf4;
    text-align: center;
    cursor: pointer;
  }

  .sub-banner-text-section {
    max-width: 90%;
  }

  .sub-banner-main-text {
    font-size: 24px;
  }

  .sub-banner-illustration-section {
    flex-direction: column;
  }

  .sub-banner {
    flex-direction: column;
  }

  .testimony-wrap {
    flex-direction: column;
  }

  .testimonial > .description {
    width: 100%;
  }

  .latest-news,
  .testimonial {
    width: 100%;
    padding: 10px;
  }

  .latest-news > .small-title,
  .latest-news > .main-title,
  .testimonial > .small-title,
  .testimonial > .main-title {
    font-size: 50%;
  }

  .latest-news-image-wrap {
    flex-direction: column;
  }
}
