body,
p,
header,
section,
main,
h1,
h3,
ul,
a {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

a:link,
a {
  text-decoration: none;
  color: inherit;
}

.nav-with-banner {
  display: flex;
  flex-direction: column;
  padding: 22px 135px;
  background: linear-gradient(312deg, #d4e7fe -15.24%, #fff 78.85%);
  height: auto;
}

.brand-log {
  cursor: pointer;
}

.mobile-nav {
  display: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 93px;
}

.navbar > .nav-links {
  display: flex;
  align-items: center;
  gap: 72px;
}

.navbar > .nav-links > ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
  gap: 32px;
  align-items: center;
}

.navbar > .nav-links > ul > li {
  color: #656464;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.14px;
}

.navbar > .nav-links > ul > li.active {
  color: #2b2b39;
  font-weight: 600;
}

li {
  cursor: pointer;
}

.navbar > .action-links {
  display: flex;
  align-items: center;
}

.list-item-with-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar > .action-links > .btn {
  width: 123px;
  height: 50px;
  cursor: pointer;
  border-radius: 14px;
  background: #217bf4;
  box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  font-family: inherit;
  line-height: 14px;
  border: 1px solid #217bf4;
  box-sizing: border-box;
}

.banner-section {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.banner-text-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.banner-breadcrum {
  width: 177px;
  height: 36px;
  border-radius: 8px;
  background: rgba(33, 123, 244, 0.1);
  color: #217bf4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
}

.banner-main-text {
  color: #0a093d;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px;
}

.banner-sub-text {
  color: #656464;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  width: 491px;
  margin-bottom: 42px;
}

.banner-btns-wrap {
  display: flex;
  align-items: center;
  gap: 18px;
}

.banner-btn-1,
.banner-btn-2 {
  border-radius: 14px;
  height: 62px;
  font-size: 14px;
  line-height: 14px;
  outline-style: none;
  border: 1px solid #217bf4;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
  font-family: inherit;
}

.banner-btn-1 {
  background: #217bf4;
  color: #fff;
  width: 162px;
  font-weight: 400;
  background: #217bf4;
  line-height: 14px;
  box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
}

.banner-btn-2 {
  width: 167px;
  color: #217bf4;
  background: linear-gradient(312deg, #d4e7fe -15.24%, #fff 78.85%);
  font-weight: 500;
}

.banner-illustration {
  margin-bottom: 83px;
}

.banner-illustration > img {
  width: 500px;
}

.sub-banner {
  padding: 87px 134px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-banner-text-section {
  display: flex;
  flex-direction: column;
}

.sub-banner-small-heading {
  color: #217bf4;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 10px;
}

.sub-banner-main-text {
  color: #0a093d;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 16px;
}

.sub-banner-description {
  color: #656464;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 36px;
  width: 406px;
}

.sub-banner-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-image: url("https://iili.io/JBoOcjR.png");
}

.sub-banner-list > li {
  color: #171648;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  cursor: default;
}

.sub-banner-illustration-section {
  display: flex;
  align-items: center;
  gap: 25px;
}

.sub-banner-image-wrap {
  display: flex;
  align-items: center;
  gap: 19px;
  flex-direction: column;
}

.testimonial {
  padding: 69px 135px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(312deg, #d4e7fe -15.24%, #fff 78.85%);
}

.testimonial > .small-title {
  color: #217bf4;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 10px;
}

.testimonial > .main-title {
  color: #0a093d;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 18px;
}

.testimonial > .description {
  color: #656464;
  text-align: center;
  font-size: 16px;
  width: 454px;
  font-weight: 400;
  margin-bottom: 38px;
  line-height: 28px;
}

.tab-section {
  width: 474px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 14px;
  background: rgba(33, 123, 244, 0.06);
  padding: 8px;
  display: flex;
  margin-bottom: 44px;
  align-items: center;
}

.tab-section > .tab-item {
  border-radius: 14px;
  cursor: pointer;
  width: 150px;
  height: 56px;
  color: #2f2c4a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.16px;
}

.tab-section > .tab-item.active {
  background: #217bf4;
  color: #fff;
}

.testimony-wrap {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  gap: 30px;
  box-sizing: border-box;
}

.testimony-wrap > .item {
  display: flex;
  height: auto;
  border-radius: 14px;
  border: 2px solid rgba(243, 243, 243, 0.5);
  background: #fff;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  padding: 30px 52px 34px 52px;
  box-sizing: border-box;
}

.testimony-wrap > .item > img {
  width: 100%;
  margin-bottom: 16px;
}

.testimony-wrap > .item > .name {
  color: #2f2c4a;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 14px;
}
.testimony-wrap > .item > .handle {
  color: #656464;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.latest-news {
  padding: 82px 132px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff;
  position: relative;
}

.latest-news > .bolg-union {
  position: absolute;
  position: absolute;
  z-index: 1;
}

.latest-news > .bolg-union > img {
  width: 137px;
  height: 152px;
}

.latest-news > .bolg-union.left {
  left: 78px;
  top: 150px;
}

.latest-news > .bolg-union.right {
  right: 46px;
  top: 271px;
}

.latest-news > .small-title {
  color: #217bf4;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 10px;
}

.latest-news > .main-title {
  color: #0a093d;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 74px;
}

.latest-news-image-wrap {
  display: flex;
  width: auto;
  gap: 45px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  justify-content: center;
}

.latest-news-image-wrap > .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 310px;
}

.latest-news-image-wrap > .item > img {
  margin-bottom: 12px;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  flex-shrink: 0;
}

.latest-news-image-wrap > .item > .text-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-bottom: 24px;
  padding: 0 10px;
  box-sizing: border-box;
}

.latest-news-image-wrap > .item > .text-container > .text {
  color: #2f2c4a;
  width: 252px;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.latest-news-image-wrap > .item > .text-container > .text > .continue-reading {
  display: flex;
  align-items: center;
}

.latest-news-image-wrap
  > .item
  > .text-container
  > .text
  > .continue-reading
  > .continue-reading-text {
  display: flex;
  gap: 8px;
  color: #656464;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  line-height: 16px;
  cursor: pointer;
}

.latest-news-image-wrap
  > .item
  > .text-container
  > .text
  > .continue-reading
  > .continue-reading-text:hover {
  color: #217bf4;
}

.latest-news-image-wrap
  > .item
  > .text-container
  > .text
  > .continue-reading
  > .continue-reading-text
  > img {
  width: 10px;
  height: 10px;
  margin: auto;
}

.latest-news-image-wrap > .item > .text-container > .illustration {
  width: 39px;
  height: 2px;
  background: #ffaf2e;
}

.footer {
  width: 100%;
  box-sizing: border-box;
  background: #20202d;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 135px;
  flex-shrink: 0;
}

.footer > .note {
  color: #f6f6f6;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.footer > .social-links {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer > .social-links img {
  cursor: pointer;
}

.hamburger {
  display: none;
}

@media (max-width: 1310px) {
  .latest-news-image-wrap > .item {
    width: 250px;
  }

  .latest-news-image-wrap > .item > .text-container > .text {
    font-size: 18px;
    line-height: 24px;
  }

  .latest-news-image-wrap > .item > img {
    width: 250px;
  }
}

@media (max-width: 1200px) {
  .banner-illustration > img {
    width: 350px;
    height: auto;
  }
  .banner-main-text {
    font-size: 30px;
  }

  .sub-banner-illustration-section > .sub-banner-video > img,
  .sub-banner-illustration-section > .sub-banner-image-wrap > img {
    width: 200px;
  }

  .testimonial {
    padding: 69px 50px;
  }

  .testimony-wrap > .item {
    width: 220px;
    padding: 20px 36px;
  }
}

/*_____________________________________mobile view___________________________________*/

@media (max-width: 1024px) {
  .nav-with-banner {
    padding: 22px 20px;
  }

  .navbar {
    margin: auto;
    margin-bottom: 40px;
    width: 100%;
    box-sizing: border-box;
  }

  .banner-text-section {
    width: 100%;
  }
  .banner-section {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .sub-banner {
    padding: 87px 20px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }

  .testimonial {
    padding: 87px 20px;
  }

  .footer {
    width: 100%;
    padding: 0px 20px;
  }

  .mobile-nav {
    position: absolute;
    z-index: 999;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    height: 400px;
    left: 0;
    top: 0;
    padding: 20px;
    gap: 30px;
    display: none;
    flex-direction: column;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid transparent;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  }

  .sub-banner-description {
    width: auto;
  }

  .mobile-nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .mobile-nav > ul > li {
    color: #656464;
  }

  .mobile-nav > .top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-nav > .top-section > .close-icon {
    width: 20px;
    height: auto;
  }

  .mobile-nav .btn {
    width: 130px;
    height: 40px;
    cursor: pointer;
    border-radius: 14px;
    background: #217bf4;
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    font-family: inherit;
    outline-style: none;
    border: 1px solid #217bf4;
    box-sizing: border-box;
    line-height: 14px;
  }

  .hamburger {
    display: flex;
    width: 30px;
  }

  .navbar > .nav-links > ul,
  .navbar > .action-links > .btn {
    display: none;
  }

  .banner-illustration > img {
    width: 100%;
    height: auto;
  }

  .banner-main-text {
    font-size: 30px;
    max-width: 90%;
    line-height: 33px;
  }

  .banner-sub-text {
    margin-bottom: 22px;
  }

  .banner-btn-1,
  .banner-btn-2 {
    width: 120px;
    border-radius: 14px;
    height: 40px;
    font-size: 14px;
    line-height: 14px;
    outline-style: none;
    border: 1px solid #217bf4;
    text-align: center;
    cursor: pointer;
  }

  .sub-banner-main-text {
    font-size: 24px;
  }

  .sub-banner-description,
  .sub-banner-main-text {
    width: 406px;
  }

  .testimony-wrap > .item {
    width: 180px;
  }

  .testimony-wrap > .item > img {
    width: 100px;
  }

  .testimony-wrap > .item > .name {
    font-size: 18px;
    line-height: 16px;
  }

  .testimonial > .description {
    width: 100%;
  }

  .latest-news,
  .testimonial {
    width: 100%;
    padding: 20px;
  }

  .latest-news > .small-title,
  .latest-news > .main-title,
  .testimonial > .small-title,
  .testimonial > .main-title {
    font-size: 16px;
  }

  .latest-news-image-wrap {
    gap: 20px;
  }
}

@media (max-width: 900px) {
  .sub-banner-description,
  .sub-banner-main-text {
    width: 320px;
  }
}

@media (max-width: 845px) {
  .testimony-wrap > .item {
    width: 130px;
    padding: 15px 26px;
  }

  .testimony-wrap > .item > img {
    width: 60px;
  }

  .testimony-wrap > .item > .name,
  .testimony-wrap > .item > .handle {
    font-size: 14px;
    line-height: 12px;
  }

  .latest-news-image-wrap > .item > img,
  .latest-news-image-wrap > .item {
    width: 190px;
  }

  .navbar > .action-links > .btn {
    width: 90px;
    height: 35px;
  }

  .navbar > .action-links {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .banner-text-section {
    gap: 15px;
  }
  .sub-banner-illustration-section {
    width: 100%;
    justify-content: space-between;
  }

  .sub-banner-illustration-section > .sub-banner-video > img,
  .sub-banner-illustration-section > .sub-banner-image-wrap > img {
    width: 280px;
    display: flex;
    flex: 1 1 0;
  }

  .sub-banner-main-text {
    line-height: 32px;
    margin-bottom: 16px;
  }

  .banner-btns-wrap {
    margin-bottom: 40px;
  }

  .sub-banner {
    padding: 40px 20px;
    flex-direction: column;
  }

  .testimony-wrap {
    gap: 10px;
  }

  .latest-news > .small-title {
    margin-bottom: 5px;
    margin-top: 40px;
  }
  .latest-news > .main-title {
    margin-bottom: 10px;
  }

  .testimonial {
    padding-top: 50px;
  }

  .latest-news-image-wrap > .item > .text-container {
    width: 80%;
  }

  .sub-banner-description {
    width: 100%;
  }

  .banner-sub-text {
    width: auto;
  }

  .latest-news-image-wrap > .item {
    align-items: flex-start;
  }
}

@media (max-width: 650px) {
  .banner-btns-wrap {
    gap: 8px;
  }

  .banner-btn-1,
  .banner-btn-2 {
    width: 120px;
    border-radius: 14px;
    height: 40px;
    font-size: 13px;
    line-height: 14px;
  }

  .sub-banner-description,
  .sub-banner-main-text {
    width: auto;
  }

  .testimony-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimony-wrap > .item {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 14px;
    border: 2px solid rgba(243, 243, 243, 0.5);
    gap: 14px;
    padding: 30px 52px 34px 52px;
  }

  .testimony-wrap > .item > .name {
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
  }
  .testimony-wrap > .item > .handle {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
  }

  .latest-news {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .latest-news-image-wrap {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .latest-news-image-wrap > .item > img,
  .latest-news-image-wrap > .item {
    width: 100%;
  }

  .latest-news-image-wrap > .item > .text-container > .text {
    width: auto;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
  }

  .latest-news-image-wrap
    > .item
    > .text-container
    > .text
    > .continue-reading {
    display: flex;
    align-items: center;
  }

  .footer > .social-links > img {
    width: 25px;
  }

  .footer > .logo > img {
    width: 80px;
  }

  .sub-banner-illustration-section {
    width: 100%;
  }

  .sub-banner-illustration-section > .sub-banner-video,
  .sub-banner-illustration-section > .sub-banner-video > img,
  .sub-banner-illustration-section > .sub-banner-image-wrap,
  .sub-banner-illustration-section > .sub-banner-image-wrap > img {
    width: 100%;
  }

  .tab-section {
    width: auto;
  }
}

@media (max-width: 465px) {
  .tab-section {
    height: 40px;
    width: 100%;
    box-sizing: border-box;
  }

  .tab-section > .tab-item {
    width: 150px;
    height: 30px;
    font-size: 12px;
  }

  .latest-news-image-wrap > .item > img,
  .latest-news-image-wrap > .item {
    width: 100%;
  }

  .latest-news-image-wrap > .item > .text-container > .text {
    width: auto;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }

  .sub-banner-illustration-section > .sub-banner-video,
  .sub-banner-illustration-section > .sub-banner-video > img,
  .sub-banner-illustration-section > .sub-banner-image-wrap,
  .sub-banner-illustration-section > .sub-banner-image-wrap > img {
    width: 100%;
  }

  .sub-banner-illustration-section {
    width: 100%;
  }

  .testimony-wrap > .item {
    width: 100%;
  }

  .footer {
    padding: 10px 20px;
    flex-flow: row wrap;
    gap: 10px;
    height: 150px;
  }
}

/* Extra Large Screens, special cases: 2000px, 3000px, 4000px */

@media (min-width: 2000px) {
  .nav-with-banner {
    justify-content: center;
    padding-left: 400px;
    padding-right: 400px;
  }

  .sub-banner {
    padding-left: 400px;
    padding-right: 400px;
  }

  .latest-news-image-wrap {
    gap: 80px;
  }

  .footer {
    padding-left: 400px;
    padding-right: 400px;
  }
}

@media (min-width: 3000px) {
  .nav-with-banner {
    justify-content: center;
    padding-left: 870px;
    padding-right: 870px;
  }

  .sub-banner {
    padding-left: 870px;
    padding-right: 870px;
  }

  .latest-news-image-wrap {
    gap: 90px;
  }

  .footer {
    padding-left: 880px;
    padding-right: 880px;
  }
}

@media (min-width: 4000px) {
  .nav-with-banner {
    justify-content: center;
    padding-left: 1370px;
    padding-right: 1370px;
  }

  .sub-banner {
    padding-left: 1370px;
    padding-right: 1370px;
  }

  .latest-news-image-wrap {
    gap: 90px;
  }

  .footer {
    padding-left: 1380px;
    padding-right: 1380px;
  }
}
